.container {
  box-sizing: border-box;
  max-width: 1400px;
  padding: 90px 0;
  margin: 0 auto;
}
.detalhe-traco {
  display: block;
  margin: 100px auto 0;
  width: 200px;
  height: 3px;
  background-color: var(--cor12);
}

#light-mode .detalhe-traco {
  background-color: var(--cor12);
}

@media (max-width: 1405px) {
  .container {
    max-width: 870px;
  }
}
@media (max-width: 900px) {
  .container {
    max-width: 680px;
    padding: 60px 0;
  }
  .detalhe-traco {
    width: 150px;
  }
}

@media (max-width: 700px) {
  .container {
    max-width: 480px;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 350px;
  }
}
