.font-1-xxl {
  font: 700 3.875rem/1.25 "Roboto", sans-serif;
}

.font-1-xl {
  font: 700 3rem/1.25 "Roboto", sans-serif;
}

.font-1-l {
  font: 700 2.375rem/1.25 "Roboto", sans-serif;
}

.font-1-m {
  font: 700 1.75rem/1.25 "Roboto", sans-serif;
}

.font-1-s {
  font: 400 1.5rem/1.25 "Roboto", sans-serif;
}

.font-2-m {
  font: 400 2rem/1.5 "Poppins", sans-serif;
}

.font-2-s {
  font: 400 1.5rem/1.25 "Poppins", sans-serif;
}

.font-2-xs {
  font: 400 italic 1.25rem/1.25 "Poppins", sans-serif;
}
