.font-1-xxl {
  font: 700 3.875rem/1.25 "Roboto", sans-serif;
}

.font-1-xl {
  font: 700 3rem/1.25 "Roboto", sans-serif;
}

.font-1-l {
  font: 700 2.375rem/1.25 "Roboto", sans-serif;
}

.font-1-m {
  font: 700 1.75rem/1.25 "Roboto", sans-serif;
}

.font-1-s-b {
  font: 700 1.5rem/1.25 "Roboto", sans-serif;
}

.font-1-s {
  font: 400 1.5rem/1.25 "Roboto", sans-serif;
}

.font-2-m {
  font: 400 2rem/1.5 "Poppins", sans-serif;
}

.font-2-s {
  font: 400 1.5rem/1.25 "Poppins", sans-serif;
}

.font-2-xs {
  font: 400 italic 1.25rem/1.25 "Poppins", sans-serif;
}

@media (max-width: 1405px) {
  .font-1-l {
    font-size: 1.5rem;
  }
  .font-1-s {
    font-size: 1.2rem;
  }
  .font-1-xxl {
    font-size: 2.5rem;
  }
  .font-2-m {
    font-size: 1.75rem;
  }
  .font-1-m {
    font-size: 1.5rem;
  }

  .font-1-xl {
    font-size: 2.25rem;
  }

  .font-2-s {
    font-size: 1.25rem;
  }
  .font-1-s-b {
    font-size: 1.25rem;
  }
}
@media (max-width: 900px) {
  .font-1-l {
    font-size: 1.25rem;
  }
  .font-1-s {
    font-size: 1rem;
  }
  .font-1-xxl {
    font-size: 1.75rem;
  }
  .font-2-m {
    font-size: 1.25rem;
  }
  .font-1-m {
    font-size: 1rem;
  }

  .font-1-xl {
    font-size: 2rem;
  }

  .font-2-s {
    font-size: 1rem;
  }
  .font-1-s-b {
    font-size: 1rem;
  }
  .font-2-xs {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .font-2-m {
    font-size: 1rem;
  }
  .font-2-s {
    font-size: 0.9rem;
  }
  .font-1-xxl {
    font-size: 1rem;
  }
  .font-1-xl {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .font-1-xxl {
    font-size: 1rem;
  }
  .font-2-m {
    font-size: 0.75rem;
  }
  .font-1-l {
    font-size: 1rem;
  }
  .font-1-s {
    font-size: 0.75rem;
  }
  .font-2-s {
    font-size: 0.75rem;
  }
}

@media (max-width: 380px) {
  .font-1-xxl {
    font-size: 0.9rem;
  }
  .font-2-m {
    font-size: 0.5rem;
  }
  .font-2-s {
    font-size: 0.5rem;
  }
}
