.footer-bg {
  background-color: var(--cor8);
}

.footer-bg .container {
  padding: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  align-items: center;
  height: 180px;
  gap: 25px;
}

.footer .footer-traco {
  width: 3px;
  height: 60px;
  background-color: var(--cor12);
  justify-self: center;
}

#light-mode .footer-traco {
  width: 3px;
  height: 60px;
  background-color: var(--cor12);
  justify-self: center;
}

.footer .footer-copyright {
  justify-self: end;
}
