.header-bg {
  background: url("../../img/endless-constellation.svg") repeat;
}

#light-mode .header-bg {
  background: url("../../img/subtle-prism.svg") repeat;
}

.header-menu {
  display: flex;
  background-color: var(--cor10);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  text-transform: uppercase;
  transition: 0.3s;
}

.perfil,
.info-pessoal,
.menu-lista {
  display: flex;
  gap: 25px;
}

.info-pessoal {
  align-items: center;
}

.menu-lista {
  flex-wrap: wrap;
}

.menu-lista a {
  color: var(--cor4);
}

.header-info {
  display: grid;
  justify-items: center;
  text-align: center;
  padding: 70px 0 0;
}

.header-info .header-titulo {
  margin-top: 50px;
  margin-bottom: 70px;
  position: relative;
}

.header-info .header-titulo::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("../../img/code-2-svgrepo-com 1.svg");
  position: absolute;
  left: -100px;
  top: -10px;
}

.header-info .header-descricao {
  max-width: 990px;
  margin-bottom: 45px;
}

.header-info .header-descricao span {
  color: var(--cor0);
}

.header-info .botao-projetos {
  margin-bottom: 85px;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  color: var(--cor3);
  background-color: var(--cor5);
  padding: 20px 50px;
  font-size: 2rem;
  cursor: pointer;
}

.header-info .header-seta {
  position: relative;
  bottom: 0;
  animation: mover 2s infinite;
}

@keyframes mover {
  0% {
    bottom: 0; /* começa no bottom */
  }
  50% {
    bottom: -30px; /* vai para baixo (ajuste conforme necessário) */
  }
  100% {
    bottom: 0; /* volta para o topo */
  }
}

/* Nav Fixo */

.header-menu-fixed {
  display: flex;
  background-color: var(--cor10);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 150px;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  top: -131px;
  left: 0;
  opacity: 0;
  transition: 0.3s;
  z-index: 3;
}

.perfil-fixed,
.info-pessoal-fixed,
.menu-lista-fixed {
  display: flex;
  gap: 25px;
}

.info-pessoal-fixed {
  align-items: center;
}

.menu-lista-fixed {
  flex-wrap: wrap;
}

.menu-lista-fixed a {
  color: var(--cor4);
}

@media (max-width: 1405px) {
  .header-menu {
    padding: 15px 30px;
  }

  .header-info .header-titulo {
    margin-left: 60px;
  }

  .header-info .header-titulo::before {
    left: -100px;
    top: -20px;
  }
  .header-info .botao-projetos {
    padding: 20px 30px;
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  .header-menu {
    padding: 15px;
  }
  .header-menu .perfil img {
    width: 70px;
    height: 70px;
  }
  .header-menu .perfil .info-pessoal .botao-darkmode img {
    width: 35px;
    height: 35px;
  }
  .header-menu .info-pessoal {
    gap: 20px;
  }
  .header-menu-fixed {
    padding: 15px 35px;
  }
  .header-info .header-titulo {
    margin-top: 0px;
    margin-bottom: 31px;
  }
}
