.contato-bg {
  background: url("../../img/endless-constellation.svg") repeat;
}

#light-mode .contato-bg {
  background: url("../../img/subtle-prism.svg") repeat;
}

.contato-titulo {
  text-transform: uppercase;
  text-align: center;
}

.contato .contato-descricao {
  text-align: center;
  width: 580px;
  margin: 45px auto 50px auto;
}

.contato .contato-conteudo {
  background: var(--cor7);
  margin: 0 auto;
  width: 950px;
  height: 300px;
  transition: 0.3s;
}

.contato-conteudo .contato-lista ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.35);
  width: 950px;
  height: 300px;
  place-items: center;
}

.contato-conteudo .contato-lista ul li {
  display: grid;
  place-items: center;
  gap: 50px;
}

.contato-conteudo li:nth-child(2n) {
  border-right: 3px solid;
  border-left: 3px solid;
  border-image: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 10%,
      rgba(128, 128, 128, 0.5) 10%,
      rgba(128, 128, 128, 0.5) 90%,
      transparent 90%,
      transparent 100%
    )
    1;
  padding: 50px;
}
