.formacao-experiencia-bg {
  background-color: var(--cor8);
  transition: 0.3s;
}

.formacao-experiencia-bg .container {
  width: 1200px;
}

.formacao-conteudo,
.experiencia-conteudo {
  background-color: var(--cor9);
  display: grid;
  grid-template-columns: 1fr 2.2fr;
  padding-left: 50px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.35);
  transition: 0.3s;
}

.experiencia-conteudo {
  background-color: var(--cor8);
}

.formacao .formacao-titulo,
.experiencia .experiencia-titulo {
  text-transform: uppercase;
  text-align: center;
}

.formacao .formacao-descricao,
.experiencia .experiencia-descricao {
  text-align: center;
  width: 580px;
  margin: 45px auto 50px auto;
}

.formacao-conteudo .formacao-lista,
.experiencia-conteudo .experiencia-lista {
  background-color: var(--cor8);
  padding: 50px 0 55px 55px;
  transition: 0.3s;
}

.experiencia-conteudo .experiencia-lista {
  background-color: var(--cor9);
}

.formacao-conteudo .formacao-lista ul li a,
.experiencia-conteudo .experiencia-lista ul li a {
  padding-bottom: 50px;
  display: block;
  transition: 0.4s all;
  position: relative;
}

.formacao-conteudo .formacao-lista ul li a::after,
.experiencia-conteudo .experiencia-lista ul li a::after {
  content: "";
  position: absolute;
  display: block;
  width: 5px;
  height: 60px;
  left: -55px;
  top: -12px;
  background-color: transparent;
  transition: 0.4s all;
}

.formacao-conteudo .formacao-lista ul li a:hover,
.experiencia-conteudo .experiencia-lista ul li a:hover {
  color: var(--cor6);
}

.formacao-conteudo .formacao-lista ul li a:hover::after,
.experiencia-conteudo .experiencia-lista ul li a:hover::after {
  background-color: var(--cor6);
}

.formacao-lista a.icone-adicional::before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  left: -35px;
  top: 5px;
  background: url("../../img/iconesinalmaissvg.svg") no-repeat;
  filter: brightness(100);
  transition: 0.1s all;
}

.formacao-lista a.icone-adicional:hover::before {
  filter: none;
}

#light-mode .formacao-lista a.icone-adicional::before {
  filter: brightness(0);
}

#light-mode .formacao-lista a.icone-adicional:hover::before {
  filter: none;
}
.formacao-lista-descricao .slider {
  position: relative;
}

.formacao-lista-descricao .slider .cursos-formacao .curso,
.experiencia-lista-descricao {
  display: grid;
  grid-template-columns: 2fr 1.3fr;
  grid-template-rows: max-content 80px auto;
  padding: 20px 80px 20px;
}

.formacao-lista-descricao .slider .cursos-formacao .curso .formacao-data,
.experiencia-lista-descricao .experiencia-data {
  grid-column: 2 / -1;
  padding: 0;
}

.formacao-lista-descricao .slider .cursos-formacao .curso span,
.formacao-lista-descricao .slider .cursos-formacao .curso p,
.experiencia-lista-descricao span,
.experiencia-lista-descricao p {
  grid-column: 1 / -1;
}

.formacao-lista-descricao .slider .cursos-formacao .curso span,
.experiencia-lista-descricao span {
  padding: 20px 0 75px;
}

.formacao-lista-descricao .slider .seta-slider-esquerda,
.formacao-lista-descricao .slider .seta-slider-direita,
.experiencia-lista-descricao .seta-slider-esquerda,
.experiencia-lista-descricao .seta-slider-direita {
  content: "";
  position: absolute;
  display: block;
  width: 23px;
  height: 35px;
  transform: translateY(-50%);
  transition: 0.1s all;
  z-index: 2;
}

.formacao-lista-descricao .slider .seta-slider-esquerda {
  left: 28.5px;
  top: 50%;
  background: url("../../img/iconesetaesquerda.svg") no-repeat;
}

.formacao-lista-descricao .slider .seta-slider-direita {
  right: 28.5px;
  top: 50%;
  background: url("../../img/iconesetadireita.svg") no-repeat;
}

.formacao-lista-descricao .slider .ocultar-seta {
  opacity: 0;
  visibility: hidden;
}

/* ESTILO DO SLIDER */
.slider {
  width: 790px;
  min-height: 480px;
  position: relative;
  overflow-x: hidden;
}

.slider .cursos-formacao {
  display: flex;
  position: absolute;
  height: 100%;
}

.slider .cursos-formacao .curso {
  width: 790px;
  align-self: center;
}

@media (max-width: 1405px) {
  .formacao .formacao-descricao {
    margin: 40px auto 45px auto;
  }
  .formacao-lista-descricao .slider h4 {
    grid-column: 1/-1;
    margin-bottom: 5px;
  }
  .formacao-lista-descricao .slider span.formacao-data {
    grid-column: 1/-1;
  }
  .formacao-lista a.icone-adicional::before {
    top: 3px;
  }
  .experiencia-lista-descricao h4 {
    grid-column: 1/-1;
    margin-bottom: 5px;
  }
  .formacao-lista-descricao .slider .cursos-formacao .curso .formacao-data,
  .experiencia-lista-descricao .experiencia-data {
    grid-column: 1 / -1;
  }

  .slider,
  .slider .cursos-formacao .curso {
    width: 560px;
  }
  .formacao-lista-descricao .slider .cursos-formacao .curso,
  .experiencia-lista-descricao {
    padding: 20px 40px 20px;
  }
  .formacao-conteudo,
  .experiencia-conteudo {
    padding-left: 20px;
  }
}

@media (max-width: 900px) {
  .formacao-experiencia-bg .container {
    width: 700px;
  }
  .formacao-lista-descricao .slider .cursos-formacao .curso .formacao-data {
    grid-column: 1 / -1;
  }
  .slider,
  .slider .cursos-formacao .curso {
    width: 430px;
  }
}

@media (max-width: 700px) {
  .formacao .formacao-descricao,
  .experiencia .experiencia-descricao {
    width: auto;
  }
  .slider,
  .slider .cursos-formacao .curso {
    width: 316px;
  }
}

@media (max-width: 500px) {
  .slider,
  .slider .cursos-formacao .curso {
    width: 200px;
  }
}
