.projetos-bg {
  background-color: var(--cor7);
  transition: 0.3s;
}

.projetos .projetos-titulo {
  text-transform: uppercase;
  text-align: center;
}

.projetos .projetos-titulo span {
  color: var(--cor6);
}

.projetos p {
  text-align: center;
  width: 580px;
  margin: 45px auto 50px auto;
}

.projetos .lista-projetos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.35);
  padding: 75px;
}

.lista-projetos .projeto-amostra {
  display: grid;
  justify-items: center;
  padding: 20px 55px;
}

.projeto-amostra:nth-child(3n + 2) {
  border-right: 3px solid;
  border-left: 3px solid;
  border-image: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 15%,
      rgba(128, 128, 128, 0.5) 15%,
      rgba(128, 128, 128, 0.5) 85%,
      transparent 85%,
      transparent 100%
    )
    1;
}

.projeto-amostra .projeto-img {
  width: 265px;
  height: 265px;
  border-radius: 50%;
  border: 5px solid transparent;
  background-position: center;
  background-size: 225%;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  position: relative;
}

.projeto-amostra .titulo-projeto {
  width: 300px;
  height: 50px;
  background: center no-repeat;
  color: transparent;
  user-select: none;
}

.projeto-amostra .projeto-img:hover .projeto-img-opacity {
  background: #0000009c url("../../img/lupa.svg") no-repeat center;
  opacity: 1;
}

.projeto-amostra .projeto-img .projeto-img-opacity {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s opacity;
}

.projeto-amostra .projeto-img .projeto-img-opacity a {
  position: absolute;
  inset: 0;
  border-radius: 50%;
}

.projeto-amostra .projeto-img:hover {
  border-color: var(--cor6);
  cursor: pointer;
}

.projeto-divisor {
  background-color: var(--cor12);
  width: 100%;
  height: 3px;
  grid-column: 1 / -1;
  grid-row: 2;
}

.light-mode .projeto-divisor {
  background-color: var(--cor12);
  width: 100%;
  height: 3px;
  grid-column: 1 / -1;
}

/* MODAL PROJETOS */

#modal-projetos {
  background-color: var(--cor7);
  width: 900px;
  height: 750px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

#modal-projetos .botao-fechar-modal {
  position: absolute;
  background: url(../../img/close-circle-svgrepo-com.svg) no-repeat center
    center;
  background-size: 100%;
  width: 40px;
  height: 40px;
  right: 0;
  padding: 10px;
  margin: 20px;
}

.grid-modal-projetos {
  display: grid;
  justify-items: center;
  justify-self: center;
  gap: 40px;
  padding: 40px;
  width: 800px;
}

.descricao-modal-projetos {
  display: grid;
  justify-items: center;
  text-align: center;
}

.descricao-modal-projetos .logo-modal-projeto {
  color: transparent;
  width: 300px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  margin-top: 25px;
  user-select: none;
}

.descricao-modal-projetos p {
  color: white;
  width: 600px;
}

.descricao-modal-projetos .detalhe-traco {
  margin: 20px 20px 40px;
  padding: 0;
}

.grid-modal-projetos .img-modal-projetos img {
  width: 100%;
}

/* FUNDO MODAL PROJETOS */
#fundo-modal-projetos {
  background-color: rgba(0, 0, 0, 0.719);
  inset: 0;
  position: fixed;
  backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
  user-select: none;
}

@media (max-width: 1405px) {
  .projeto-divisor {
    display: none;
  }
  .projetos .lista-projetos {
    grid-template-columns: 1fr 1fr;
  }
  .lista-projetos .projeto-amostra {
    padding: 20px 35px;
  }

  .projeto-amostra:nth-child(3n + 2) {
    border-right: none;
    border-left: none;
  }

  .projeto-amostra:nth-child(odd) {
    border-right: 3px solid;
    border-left: none;
    border-image: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 15%,
        rgba(128, 128, 128, 0.5) 15%,
        rgba(128, 128, 128, 0.5) 85%,
        transparent 85%,
        transparent 100%
      )
      1;
  }
}
@media (max-width: 900px) {
  .projetos .lista-projetos {
    padding: 15px;
  }
  .lista-projetos .projeto-amostra {
    padding: 10px 60px;
  }
  .projeto-amostra .projeto-img {
    width: 120px;
    height: 120px;
  }
  .projeto-amostra .titulo-projeto {
    width: 200px;
    height: 50px;
    background-size: contain;
  }
}
@media (max-width: 700px) {
  .projetos .lista-projetos {
    grid-template-columns: 1fr;
  }
  .projeto-amostra:nth-child(odd) {
    border-right: none;
    border-left: none;
    border-image: none;
  }
  .lista-projetos .projeto-amostra {
    padding: 5px 20px;
  }
  .projetos p {
    width: 480px;
  }
}
@media (max-width: 500px) {
  .projetos p {
    width: 300px;
  }
}
